<ion-view>
  <ion-content scroll="false" class="bg-intro" horizontal center center-justified >
    <br>
    <div style="width: 100%; margin-top: 150px;"  class="logo text-center"  horizontal layout center center-justified>
      <h2>LOGIN</h2>

      <div class="padding button-fb">
        <button style="background-color: #3b5998; color: white" class="button button-block" ng-click="facebookSignIn()">
          Login with Facebook
        </button>
      </div>
    </div>
    <br>

  </ion-content>
</ion-view>
