<ion-view view-title="Category" hide-nav-bar="true">
<ion-header-bar align-title="center" class="bar-stable">

  <div class="buttons" ng-click="backToCategories()">
    <button class="button button-clear icon ion-chevron-left animated"></button>
  </div>

  <h1 class="title {{slideIndex ==1 ? 'color-red' : 'color-gray'}}" ng-click="slideTo(1)">
    {{category}}
  </h1>

</ion-header-bar>
  <ion-content scroll="false" class="bg-intro" horizontal center center-justified >
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Skills">
      </label>
      <button class="button button-small">
        <i style="font-size: 20px;" class="ion ion-search">
        </i>
      </button>
    </div>
    <img style="margin-top:10%;width: 120%; margin-left:-10%;margin-right:-10%;" src="img/graph.png">

    <div style="height: 80px;" class="bar bar-footer no-pad">
      <ion-scroll zooming="true" direction="x">
        <div style="width: 2000px; height: 80px;">
          <button class="button margin-top-5 button-outline button-large button-assertive  {{ skate ? '': 'active'}}" ng-click="skate = !skate">Skate</button>
            <button class="button margin-top-5 button-outline button-large button-assertive {{ ski ? 'active': ''}}" ng-click="ski = !ski">Ski</button>
          <button class="button margin-top-5 button-outline  button-large button-assertive {{ roller ? 'active': ''}}" ng-click="roller = !roller">Roller</button>
          <button class="button margin-top-5 button-outline button-large button-assertive {{ snow ? 'active': ''}}" ng-click="snow = !snow">Snowboard</button>
          <button class="button margin-top-5 button-outline button-large button-assertive {{ soccer ? 'active': ''}}" ng-click="soccer = !soccer">Soccer</button>
          <button class="button margin-top-5 button-outline button-large button-large button-assertive {{ foot ? 'active': ''}}" ng-click="foot = !foot">Football</button>
          <button class="button margin-top-5 button-outline button-large button-large button-assertive {{ volley ? 'active': ''}}" ng-click="volley = !volley">Volley-Ball</button>
          <button class="button margin-top-5 button-outline button-large button-large button-assertive {{ jugg ? 'active': ''}}" ng-click="jugg = !jugg">Juggling</button>
        </div>
      </ion-scroll>
    </div>


  </ion-content>
</ion-view>
