<ion-view view-title="Skillswap" hide-nav-bar="true">
      <ion-header-bar align-title="center" class="bar-stable">

        <div class="buttons" ng-click="slideTo(0)">
          <button class="button button-clear icon ion-person animated {{slideIndex == 0 ? 'color-red' : 'color-gray'}}"></button>
        </div>
        <h1 class="title {{slideIndex ==1 ? 'color-red' : 'color-gray'}}" ng-click="slideTo(1)">
          <img height="42" ng-src="img/logoTitle.png" class="header-logo">
        </h1>
        <div class="buttons" ng-click="slideTo(2)">
            <button class="button button-clear icon ion-chatbubbles animated {{slideIndex == 2 ? 'color-red' : 'color-gray'}}"></button>
        </div>

      </ion-header-bar>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="slideIndex" ion-slide-tabs>
    <ion-slide on-drag-left="onRelease()" on-drag-right="onTouch()">
      <ion-content>
        <div class="profile-container">
          <img ng-click="showProfile()" ng-src="img/ib.jpg" class="profile-image" width="100" height="100">
          <img
            ng-click="showEditProfile()"
            ng-src="img/edit.png"
            class="profile-edit"
            width="50">
        </div>

          <div class="text-center padding" style="margin-top:22px;">
            <h3>Isael</h3>
            <p class="color-gray">Hey i'm gona teach you life.</p>
          </div>

          <ion-list class="text-center uppercase">
            <ion-item class="color-red" style="top: 30px;" ng-click="showEditProfile()">
              Edit Profile
            </ion-item>
            <ion-item class="color-red" style="top: 30px;" ng-click="showSettings()">
              Settings
            </ion-item>
            <ion-item class="color-pastel-blue" style="top: 30px;">
              Get Skillswap Premium
            </ion-item>
          </ion-list>
      </ion-content>
    </ion-slide>


    <ion-slide>

          <div class="radar" ng-if="!cards.active.length" ng-click="refreshCards()">
            <img style="border-radius: 0" ng-src="img/ib.jpg" width="100" height="100">
          </div>

          <!-- *************************
            TD Cards
            - We start off with an ng-if so that the cards are not generated
              unless $scope.cards is not 'null'
          ************************* -->
          <div ng-if="cards.active" class="flip-container">
            <div class="flipper clearfix">
              <div class="front">
                <td-cards on-touch="onTouch()" on-release="onRelease()" >
                  <td-card ng-style="$index > 3 &&  {'display':'none'}" ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
                    <div class="image">
                      <!-- *************************
                        Discard
                        - The card is removed from the deck and a fly away animation is triggered.
                        - onClickTransitionOut is found in ionic.tdcards.js
                        - Animation can be customized by changing defaults
                      ************************* -->
                      <!-- <div class="discard" ng-click="onClickTransitionOut(card)">DISCARD</div> -->


                      <div class="img-box" ng-click="flip()">
                        <img ng-src="{{ card.image }}">
                      </div>

                      <div class="item">
                        <div class="row">
                            <div class="col col-50">
                              <h2>{{ card.name }}, {{card.age}}</h2>
                              <p>
                                {{ card.work }}
                                <!-- <i class="ion-ios-book color-coral font-150 pull-right"></i> -->
                              </p>
                            </div>
                            <div class="col col-50">
                              <div class="col star-right">
                                <i ng-show="card.id == 1" class="ion ion-ios-star-half"></i>
                                <i ng-show="card.id == 2" class="ion ion-ios-star-outline"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i class="ion ion-star"></i>
                                <i ng-show="card.id !=1 && card.id != 2" class="ion ion-star"></i>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="item">
                            <h2>Skills</h2>
                        <button ng-show="card.id == 1" class="button margin-top-5 button-outline button-small button-assertive">Swing&nbsp;<i style="color: darkred;" class="icon ion-checkmark"></i></button>
                        <button ng-show="card.id == 0 || card.id == 2" class="button margin-top-5 button-outline button-small button-assertive">Juggling</button>
                        <button ng-show="card.id == 3 || card.id == 2" class="button margin-top-5 button-outline button-small button-assertive">Ski</button>
                        <button ng-show="card.id == 0" class="button margin-top-5 button-outline button-small button-assertive">Administration</button>
                        <button ng-show="card.id == 0" class="button margin-top-5 button-outline button-small button-assertive">Public Speaking</button>
                        <button ng-show="card.id == 1" class="button margin-top-5 button-outline button-small button-assertive">English</button>
                        <button ng-show="card.id == 3" class="button margin-top-5 button-outline button-small button-assertive">Mandarin</button>
                        <button ng-show="card.id == 1" class="button margin-top-5 button-outline button-small button-assertive">Dancing</button>
                        <button ng-show="card.id == 1" class="button margin-top-5 button-outline button-small button-assertive">Singing</button>
                        <button ng-show="card.id == 3" class="button margin-top-5 button-outline button-small button-assertive">Piano</button>
                        <button ng-show="card.id == 3" class="button margin-top-5 button-outline button-small button-assertive">Skate</button>
                        <button ng-show="card.id == 2" class="button margin-top-5 button-outline button-small button-assertive">Programming</button>
                      </div>
                      <div style="height: 54px;" class="item last no-pad">
                             <div class="swapskill-cancel" ng-click="like(false)"></div>
                             <div class="swapskill-checkmark" ng-click="like(true)"></div>
                      </div>
                      <!--<div class="item last">
                        <div class="row no-pad">
                          <div class="col ">
                            <h2>Rating</h2>
                          </div>
                          <div class="col star-right">
                            <i class="ion ion-star"></i>
                            <i class="ion ion-star"></i>
                            <i class="ion ion-star"></i>
                            <i class="ion ion-star"></i>
                            <i class="ion ion-star"></i>
                          </div>
                        </div>
                      </div>-->


                    </div>
                  </td-card>
                  <!-- *************************
                    End Card
                    - 'drag' is set to false. The user cannot drag it.
                    - 'refreshCards()' reloads all cards that have NOT been discarded.
                  ************************* -->
                  <td-card id="end-card" drag="false">
                    <!-- <div class="tinder-refresh-button" ng-click="refreshCards()"></div> -->
                    <div class="disable-user-behavior">
                      <!-- <div class="tinder-refresh-button" ng-click="refreshCards()"></div> -->
                    </div>
                    <!-- <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i> -->
                  </td-card>
                </td-cards>
              </div>
              <div class="back">
                <td-cards on-touch="onTouch()" on-release="onRelease()" ng-click="flip()">
                  <td-card ng-style="$index > 3 &&  {'display':'none'}" ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
                    <div class="image">
                      <!-- *************************
                        Discard
                        - The card is removed from the deck and a fly away animation is triggered.
                        - onClickTransitionOut is found in ionic.tdcards.js
                        - Animation can be customized by changing defaults
                      ************************* -->
                      <!-- <div class="discard" ng-click="onClickTransitionOut(card)">DISCARD</div> -->

                      <div class="img-box">
                      </div>

                      <div class="item prof">
                        <div class="row">
                          <div class="col">
                            <h2>{{ card.name }}, {{card.age}}</h2>
                            <p>
                              {{ card.work }}
                              <!-- <i class="ion-ios-book color-coral font-150 pull-right"></i> -->
                            </p>
                          </div>
                        </div>
                      </div>

                      <hr class="super-special">


                      <div class="item prof multiple-button">
                        <h2>Skills</h2>
                        <button ng-show="card.id == 1" class="button margin-top-5 button-outline button-small button-assertive">English&nbsp;<i style="color: darkred;" class="icon ion-checkmark"></i></button>
                        <button ng-show="card.id == 1 || card.id == 2 || card.id == 4" class="button margin-top-5 button-outline button-small button-assertive">Juggling</button>
                        <button class="button margin-top-5 button-outline button-small button-assertive">Ski</button>
                        <button class="button margin-top-5 button-outline button-small button-assertive">Soccer</button>
                        <button class="button margin-top-5 button-outline button-small button-assertive">Administration</button>
                        <button class="button margin-top-5 button-outline button-small button-assertive">Spanish</button>
                      </div>
                    <!--  <div style="height: 54px;" class="item last no-pad">
                        <div class="swapskill-cancel" ng-click="like(false)"></div>
                        <div class="swapskill-checkmark" ng-click="like(true)"></div>
                      </div>-->
                      <!--<div class="item last">
                        <div class="row no-pad">
                          <div class="col ">
                            <h2>Rating</h2>
                          </div>
                          <div class="col star-right">
                            <i class="ion ion-star"></i>
                            <i class="ion ion-star"></i>
                            <i class="ion ion-star"></i>
                            <i class="ion ion-star"></i>
                            <i class="ion ion-star"></i>
                          </div>
                        </div>
                      </div>-->

                      <hr class="super-special">

                      <div class="item prof">
                        <h2>Rating</h2>
                          <i ng-show="card.id == 1" class="ion ion-ios-star-outline"></i>
                          <i ng-show="card.id == 2" class="ion ion-ios-star-half"></i>
                          <i class="ion ion-star"></i>
                          <i class="ion ion-star"></i>
                          <i class="ion ion-star"></i>
                          <i class="ion ion-star"></i>
                          <i ng-show="card.id !=1 && card.id != 2" class="ion ion-star"></i>
                      </div>

                      <hr class="super-special">

                      <div class="item last cert">
                        <h2>Certificate</h2>
                        <img class="certificate" src="img/certificate.jpg">
                      </div>
                    </div>
                  </td-card>
                  <!-- *************************
                    End Card
                    - 'drag' is set to false. The user cannot drag it.
                    - 'refreshCards()' reloads all cards that have NOT been discarded.
                  ************************* -->
                  <td-card id="end-card" drag="false">
                    <!-- <div class="tinder-refresh-button" ng-click="refreshCards()"></div> -->
                    <div class="disable-user-behavior">
                      <!-- <div class="tinder-refresh-button" ng-click="refreshCards()"></div> -->
                    </div>
                    <!-- <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i> -->
                  </td-card>
                </td-cards>
              </div>
            </div>
          </div>

         <!-- <div class="tinder-buttons" ng-if="cards.active">
              <div class="tinder-button animated bounceIn" ng-click="like(false)"></div>
              <div class="info" ng-click="showProfile()"></div>
              <div class="tinder-button animated bounceIn" ng-click="like(true)"></div>
          </div>-->
    </ion-slide>
    <ion-slide on-drag-left="onTouch()" on-drag-right="onRelease()">
      <ion-content>
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input force-lower-case type="text" class="bold" placeholder="Search 6 Matches" ng-model="search" ng-value="search" ng-change="filterResults(search)">
          </label>
          <button class="button button-stable button-clear" ng-click="filterResults(null);search=null">
            Cancel
          </button>
        </div>
        <div class="item item-divider bg-white uppercase color-red" style="border:none;">Messages</div>
        <ion-list>
            <ion-item class="item-light item-text-wrap item-avatar item-borderless item-icon-right no-pad-right" data-ng-repeat="blog in ['bryan', 'johny', 'hana', 'frank','ben', 'max'] track by $index" style="overflow:hidden;" ng-href="#/tab/dash/1">
              <img ng-src="img/{{blog}}.jpg">
              <span class="capitalize font-120">{{blog}}</span>
              <button ng-show="$index == 1 || $index == 4 || $index == 6|| $index == 0" class="button button-outline button-small button-assertive smaller-btn">Roller</button>
              <button ng-show="$index == 2 || $index == 3 || $index == 4|| $index == 0" class="button button-outline button-small button-assertive smaller-btn">Ski</button>
              <button ng-show="$index == 1 || $index == 2 || $index == 6" class="button button-outline button-small button-assertive smaller-btn">Java</button>
              <button ng-show="$index == 2 || $index == 4 || $index == 5" class="button button-outline button-small button-assertive smaller-btn">Piano</button>
              <button ng-show="$index == 1 || $index == 3 || $index == 7|| $index == 0" class="button button-outline button-small button-assertive smaller-btn">Painting</button>
              <button ng-show="$index == 3 || $index == 5" class="button button-outline button-small button-assertive smaller-btn">Marketing</button>
              <p class="capitalize color-gray">Sent you a message</p>
              <hr class="item-hr">
            </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
</ion-view>
