<ion-view view-title="Categories" hide-nav-bar="false">
<ion-header-bar align-title="center" class="bar-stable">

  <div class="buttons" ng-click="">
    <button class="button button-clear icon ion-search animated {{slideIndex == 2 ? 'color-red' : 'color-gray'}}"></button>
  </div>

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="{{category}}">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>

</ion-header-bar>
  <ion-content scroll="false" class="bg-intro" horizontal center center-justified >
    <button class="button button-full button-positive">
      Finished
    </button>
  </ion-content>
</ion-view>
