<ion-list class="list-borderless">
  <ion-checkbox icon="ion-ios-checkmark color-darkgray" ng-model="choice1" ng-value="1">Academics</ion-checkbox>
  <ion-checkbox icon="ion-ios-checkmark color-darkgray" ng-model="choice2" ng-value="2">Languages</ion-checkbox>
  <ion-checkbox icon="ion-ios-checkmark color-darkgray" ng-model="choice3" ng-value="2">Arts</ion-checkbox>
  <ion-checkbox icon="ion-ios-checkmark color-darkgray" ng-model="choice4" ng-value="3">Athletics</ion-checkbox>
  <ion-checkbox icon="ion-ios-checkmark color-darkgray" ng-model="choice5" ng-value="4">Health & Lifestyle</ion-checkbox>
  <ion-checkbox icon="ion-ios-checkmark color-darkgray" ng-model="choice6" ng-value="5">Handyman Skill</ion-checkbox>
  <ion-checkbox icon="ion-ios-checkmark color-darkgray" ng-model="choice7" ng-value="6">Technical</ion-checkbox>
  <ion-checkbox icon="ion-ios-checkmark color-darkgray" ng-model="choice8" ng-value="7">Other</ion-checkbox>
</ion-list>
