<ion-modal-view>
  <ion-content>

    <div id="bg" style="">
      <div id="search-container">
        <div id="search-bg" style=""></div>
        <div id="search" style="height:{{deviceHeight}}px; background: none;">
          <h1>Its a Match!</h1>
          <p class="font-default">You and Adam have confirmed each other</p>

          <img style="border-radius: 50%; width: 100px; margin-left: calc(50% - 50px)" ng-src="img/adam.png">
          <div class="text-center" style="margin-top:0;">
          </div>
          <div style="margin-top: 5px;" class="text-center match-buttons" >
            <button ng-click="hideMatch();slideTo(2);pickAdam()" class="button button-block button-stable button-outline"><i class="ion-chatbubbles font-130"></i> Send Message</button>
            <button ng-click="hideMatch();slideTo(2);pickAdam('Hello, my name is Ben')" class="button button-block button-stable button-small">Hello, my name is Ben</button>
            <button ng-click="hideMatch();slideTo(2);pickAdam('Hi Adam, how are you ?')" class="button button-block button-stable button-small">Hi Adam, how are you ?</button>
            <button ng-click="hideMatch();slideTo(2);pickAdam('Hi Adam, nice to meet you!')" class="button button-block button-stable button-small">Hi Adam, nice to meet you!</button>
            <button ng-click="hideMatch()" class="button button-block button-stable button-outline" style="margin-top:17px;"><i class="ion-ios-browsers font-130"></i> Close</button>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
